<!DOCTYPE html>
<html>

<head>
    <title>MathTranslate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card p-4 bg-gradient translation-card">
                    <a href="https://github.com/SUSYUSTC/MathTranslate" target="_blank" class="github-icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <h2 class="text-center fancy-font main-title">MathTranslate</h2>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ messages[0] }}
                    </div>
                    {% endif %}
                    {% endwith %}

                    <form action="/" method="post" enctype="multipart/form-data" class="mt-4" id="mainForm">
						<input type="hidden" name="uid" value="{{ uid }}">
                        <div class="language-selection-container" style="color: black;">
                            <div class="language-field">
                                <label for="inputLanguageCode">Input Language Code:</label>
                                <input type="text" id="inputLanguageCode" name="inputLanguageCode" placeholder="en" value="en">
                            </div>
                            <div class="language-field" style="color: black;">
                                <label for="outputLanguageCode">Output Language Code:</label>
                                <input type="text" id="outputLanguageCode" name="outputLanguageCode" placeholder="zh-CN" value="zh-CN">
                            </div>
                            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#languageCodesModal">
                                View Available Language Codes
                            </button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="languageCodesModal" tabindex="-1" aria-labelledby="languageCodesModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="languageCodesModalLabel">Available Language Codes</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="font-family: 'Courier New', Courier, monospace; color: black;">

                                        <p>Language codes (google API standard)</p>
                                        <ul> 
                                            {% include 'lang.html' %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <br><br>
                    <form action="/" method="post" enctype="multipart/form-data" class="mt-4" id="mainForm">
                        <div class="mb-3">
                            <label for="arxiv_id" class="form-label dark-label">Option 1: Arxiv ID (e.g. 2403.08441):</label>
                            <input type="text" name="arxiv_id" id="arxiv_id" class="form-control">
                            <span id="error-message" style="color: red;"></span>
                        </div>
						<button type="submit" name="translate_arxiv" class="btn btn-primary w-100 mb-3"> Translate Arxiv </button>
                        <!-- <div class="mb-3">
                            <button type="submit" name="generate_pdf_from_arxiv" id="generate-pdf-btn"
                                class="btn btn-warning w-100 mb-3">Generate PDF from Arxiv ID</button>
                            <span id="pdf-generation-status" style="color: red;"></span>
                        </div> -->
                        <div class="mb-3">
                            <label for="file" class="form-label dark-label">Option 2: Upload .tex File:</label>

                            <input type="file" name="file" id="file" accept=".tex" class="form-control"
                                style="display: none;" onchange="updateFilename()">
                            <button type="button" class="btn btn-secondary"
                                onclick="document.getElementById('file').click();">Choose File</button>
                            <span id="chosen-filename" style="color: #333;">No file chosen</span>


                            <script>
                                function updateFilename() {
                                    const fileInput = document.getElementById('file');
                                    const filenameLabel = document.getElementById('chosen-filename');

                                    if (fileInput.files.length) {
                                        filenameLabel.textContent = fileInput.files[0].name;
                                    } else {
                                        filenameLabel.textContent = "No file chosen";
                                    }
                                }
                            </script>
                        </div>
						<button type="submit" name="upload_translate" class="btn btn-success w-100 mb-3">Upload and Translate</button>
                        <!-- <button type="submit" name="upload_translate_to_pdf" class="btn btn-info w-100">Upload and
                            Translate to PDF</button> -->

                        <div class="mb-3 mt-4">
                            <label for="zip_file" class="form-label dark-label">Option 3 (project with multiple files): Upload .zip file:</label>

                            <input type="file" name="zip_file" id="zip_file" accept=".zip" class="form-control"
                                style="display: none;" onchange="updateZipFilename()">
                            <button type="button" class="btn btn-secondary"
                                onclick="document.getElementById('zip_file').click();">Choose ZIP File</button>
                                <span id="chosen-zipfilename" style="color: #333;">No ZIP file chosen</span>


                            <script>
                                function updateZipFilename() {
                                    const zipFileInput = document.getElementById('zip_file');
                                    const zipFilenameLabel = document.getElementById('chosen-zipfilename');

                                    if (zipFileInput.files.length) {
                                        zipFilenameLabel.textContent = zipFileInput.files[0].name;
                                    } else {
                                        zipFilenameLabel.textContent = "No ZIP file chosen";
                                    }
                                }
                            </script>
                        </div>
                        <button type="submit" name="upload_zip" class="btn btn-info w-100 mb-3">Upload ZIP and Generate PDF</button>

                    </form>
                    {% if has_zip %}
                    <script>
                        function downloadZip() {
                            window.location.href = "{{ url_for('uploaded_file', filename=zipname) }}";
                        }
                    </script>
                    <div class="mt-4 text-center">
                        <p class="text-info">Latex source code available! You can upload it to overleaf to compile by
                            yourself. Zip file can be directly uploaded. 
							You must set the compiler to <b>XeLaTeX</b> otherwise the compilation will fail.<i class="fas fa-check-circle"></i></p>
                        <button onclick="downloadZip()" class="btn btn-dark">Download source code</button>
                    </div>
                    {% endif %}

                    {% if has_pdf %}
                    <script>
                        function downloadPDF() {
                            window.location.href = "{{ url_for('uploaded_file', filename=pdfname) }}";
                        }
                    </script>
                    <div class="mt-4 text-center">
                        <p class="text-info">PDF is successfully compiled! <i class="fas fa-check-circle"></i></p>
                        <button onclick="downloadPDF()" class="btn btn-dark">Download PDF</button>
                    </div>
                    {% endif %}


                    {% if translated %}
                    <script>
                        function downloadTex() {
                            window.location.href = "{{ url_for('uploaded_file', filename=tex_filename) }}";
                        }

                        function downloadPDF() {
                            window.location.href = "{{ url_for('uploaded_file', filename=pdf_filename) }}";
                        }
                    </script>
                    <div class="mt-4 text-center">
                        <p class="text-info">Translation complete! <i class="fas fa-check-circle"></i></p>
                        <button onclick="downloadTex()" class="btn btn-dark">Download Translated .tex</button>
                        <button onclick="downloadPDF()" class="btn btn-dark">Download PDF</button>
                    </div>
                    {% endif %}

                    <p style="color: black;">Program output</p>
                    <textarea id="output" rows="8" cols="50" readonly></textarea>
                    <!-- <textarea rows="8" cols="50" readonly>{{ text }}</textarea> -->
                    <script>
                        const outputBox = document.getElementById('output');
                        const eventSource = new EventSource(`/stream?uid={{ uid }}`);

                        eventSource.onmessage = function(event) {
                            const isAtBottom = outputBox.scrollHeight - outputBox.scrollTop <= outputBox.clientHeight + 5;  // Detect if user is at bottom

                            outputBox.value = event.data;  // Update content

                            if (isAtBottom) {
                                outputBox.scrollTop = outputBox.scrollHeight;  // Auto-scroll only if user was at bottom
                            }
                        };

                        eventSource.onerror = function() {
                            console.log("Stream closed.");
                            eventSource.close();
                        };
                    </script>

                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>

</body>

</html>
